<div class="grid pru">

    <div class="col-12 sm:col-6">
        <mat-card>
            <mat-card-content>

                <div class="grid">

                    
                    <mat-label class="col-12 sm:col-6">EMAIL</mat-label>
                    <mat-form-field class="col-12">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" [(ngModel)]="registerEntity.email" required />
                    </mat-form-field>



                    <mat-label class="col-12 sm:col-6">CONTRASEÑA</mat-label>
                    <mat-form-field class="col-12">
                        <mat-label>Contraseña:</mat-label>
                        <input matInput type="password" [(ngModel)]="registerEntity.password" required />
                    </mat-form-field>


                </div>

                <div class="flex justify-content-between">
                    <button mat-flat-button color="warn" (click)="onSubmit()">
                        <mat-icon>save</mat-icon>
                        Guardar
                    </button>
                </div>

            </mat-card-content>
        </mat-card>
    </div>

</div>